<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings" schemaVersion="2014-05-30">
  <!-- This key is for Application Insights resource 'Limelight' in resource group 'Limelight' -->
  <InstrumentationKey>e3cad98f-de4d-420b-8322-28e7b75d3930</InstrumentationKey>
  <!-- If you change InstrumentationKey by hand, you should update ResourceID as well - see http://go.microsoft.com/fwlink/?LinkId=402933 for details. -->
  <ResourceID>/subscriptions/69921772-880e-4d39-8219-0b7ed25e7481/resourcegroups/Limelight/providers/microsoft.insights/components/Limelight</ResourceID>
  <ContextInitializers>
    <!-- 
        Context initializers are responsible for populating environment-based properties on a new instance of TelemetryContext.
        They are run once per instance of TelementryContext.
    -->
    <Add Type="Microsoft.ApplicationInsights.Platform.ComponentContextInitializer, Microsoft.ApplicationInsights.Platform, ContentType=WindowsRuntime" />
    <Add Type="Microsoft.ApplicationInsights.Platform.DeviceContextInitializer, Microsoft.ApplicationInsights.Platform, ContentType=WindowsRuntime" />
    <Add Type="Microsoft.ApplicationInsights.Platform.UserContextInitializer, Microsoft.ApplicationInsights.Platform, ContentType=WindowsRuntime" />
    <Add Type="Microsoft.ApplicationInsights.Platform.SessionContextInitializer, Microsoft.ApplicationInsights.Platform, ContentType=WindowsRuntime" />
  </ContextInitializers>
  <TelemetryInitializers>
    <!-- 
        Telemetry initializers are responsible for populating per-telemetry item properties on a instance of ITelemetry.
        They are run once per instance of ITelementry.
    -->
    <Add Type="Microsoft.ApplicationInsights.Core.TimestampPropertyInitializer, Microsoft.ApplicationInsights, ContentType=WindowsRuntime" />
    <Add Type="Microsoft.ApplicationInsights.Platform.NetBiosMachineNameTelemetryInitializer, Microsoft.ApplicationInsights.Platform, ContentType=WindowsRuntime" />
    <Add Type="Microsoft.ApplicationInsights.Platform.OperatingSystemTelemetryInitializer, Microsoft.ApplicationInsights.Platform, ContentType=WindowsRuntime" />
    <Add Type="Microsoft.ApplicationInsights.Platform.ProcessIdTelemetryInitializer, Microsoft.ApplicationInsights.Platform, ContentType=WindowsRuntime" />
    <Add Type="Microsoft.ApplicationInsights.Platform.ProcessNameTelemetryInitializer, Microsoft.ApplicationInsights.Platform, ContentType=WindowsRuntime" />
    <Add Type="Microsoft.ApplicationInsights.Platform.ThreadIdTelemetryInitializer, Microsoft.ApplicationInsights.Platform, ContentType=WindowsRuntime" />
    <Add Type="Microsoft.ApplicationInsights.Platform.ThreadLanguageTelemetryInitializer, Microsoft.ApplicationInsights.Platform, ContentType=WindowsRuntime" />
  </TelemetryInitializers>
  <TelemetryModules>
    <!-- 
        Telemetry modules are responsible for automatically generating telemetry for your application based on application
        events that they automatically intercept.
    -->
    <Add Type="Microsoft.ApplicationInsights.Platform.PageViewTelemetryModule, Microsoft.ApplicationInsights.Platform, ContentType=WindowsRuntime" />
    <Add Type="Microsoft.ApplicationInsights.Platform.UnhandledExceptionTelemetryModule, Microsoft.ApplicationInsights.Platform, ContentType=WindowsRuntime" />
  </TelemetryModules>
  <TelemetryChannel>
    <!-- 
        The telemetry channel section can be used to configure the behavior of the SDK with respect to sending data to 
        the Application Insights service.
    -->
    <!--
      DeveloperMode setting controls Application Insights SDK behavior to optimize for local debugging. 
      This setting should be set to false before deploying your application.
    -->
    <DeveloperMode>false</DeveloperMode>
  </TelemetryChannel>
</ApplicationInsights>